<h1 id="homepage">Home</h1>
<section class="py-5">
  {{#each posts as |post|}}
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row justify-content-center post">
        <div class="col-md-8 titles">
          <h5 class="fw-bolder">{{post.title}}</h5>
          <h5>Posted by {{user.name}} on {{format_date updatedAt}}</h5>
        </div>
        <div class="col-md-8 description">
          <h5>{{post.description}}</h5>
        </div>
        {{!-- {{#if logged_in}} --}}
          <div class="p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a
                class="btn btn-outline-dark mt-auto"
                href="/post/{{id}}"
              >Add comment</a></div>
              <div class="text-center"><a
                class="btn btn-outline-dark mt-auto"
                href="/editpost/{{id}}">Edit Post</a>
          </div>
          </div>
          
        {{!-- {{/if}} --}}
      </div>
    </div>
  {{/each}}
  <div class="text-center"><a
                class="btn btn-outline-dark mt-auto"
                href="/newpost">New Post</a>
          </div>
</section>