<div class="container px-4 px-lg-5 mt-5">
  <div class="row justify-content-center post">
    <div id="postid">{{post.id}}</div>
    <div class="col-md-8 titles">
      <h5 class="fw-bolder">{{post.title}}</h5>
      <h5>Posted by {{post.user.name}} on </h5>
    </div>
    <div class="col-md-8 description">
      <h5>{{post.description}}</h5>
    </div>
    {{#each post.Comments}}

    <h6>{{body}}</h6>
    {{/each}}
    <div class="col-md-8 description">
      <input class="newcomment" type="text" id="comment" size="100" />
      <button id="comment-btn">Create</button>
    </div>
    
  </div>
</div>
<script src="/js/comment.js"></script>